<%= simple_form_for(@ban) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :length, :hint => 'In seconds. 0 is an infinite ban. Be careful with those.' %>
    <%= f.input :reason %>
    <%= f.association :user %>
    <%= f.input :ip %>
    <%= f.input :email %>
  </div>

  <div>
    <%= f.button :submit, :class => 'btn btn-danger' %>
  </div>
<% end %>
