<% title("403 - You\'re Banned!") %>
<h1><%= yield :title %></h1>
<p>
<% if @ban.user_id != nil %>
The user <%= @ban.user.name %> is banned.
<% end %>
<% if @ban.ip != nil && ban.ip != "" %>
The IP address <%= @ban.ip %> is banned.
<% end %>
The reason for this ban is: "<%= @ban.reason %>".
<% if @ban.length == 0 %>
This ban is permanent.
<% else %>
This ban will last until <%= @ban.created_at + @ban.length.seconds %>,
that is, for
<%= distance_of_time_in_words(Time.now, @ban.created_at + @ban.length.seconds) %> more.
<% end %>
</p>
<p>
If you believe you've been banned in error, please
contact the Board admin at <&= mail_to(SITE_CONFIG[:admin_contact]) %>
</p>
