<div class="row-fluid">
    <%= simple_form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.error_notification %>
    <% if @post.errors[:base].length > 0 %>
    <div class="alert alert-error">
      <%= f.error :base %>
    </div>
    <% end %>
    <%= f.input:parent_id, :as => :hidden %>
    <%= f.input :subject  %>
    <%= f.input :author %>
    <%= f.input :body, :hint => "Written in #{link_to 'Markdown', 'http://daringfireball.net/projects/markdown/basics/'} <br/ > Enabled extensions: ~~text~~ creates strikethroughs, ^ creates superscripts, bare links are linked automatically.", :rows => 15, :cols => 100 %>
    <%= f.association :tags, :as => :check_boxes %>
    <%= f.input :locked, :label => 'Locked thread?' %>
    <%= f.input :poofed, :label => 'Poofed thread?' %>
    <%= f.input :sort_timestamp %>
    <%= f.button :submit, :class => 'btn-primary' %>
    <% end %>
</div>
