<div class="row-fluid">
  <div class="span12">
    <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </div>
    <div class="field">
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body, :rows => 15, :cols => 100 %>
    </div>
    <div class="field">
      <%= f.label :locked %>
      <%= f.check_box :locked %>
    </div>
    <div class="field">
      <%= f.label :poofed %>
      <%= f.check_box :poofed %>
    </div>
    <div class="field">
      <%= f.label :sort_timestamp %><br />
      <%= f.datetime_select :sort_timestamp %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>
