<div class="row-fluid">
  <div class="accordion" id="preview-accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#preview-accordion" href="#preview-wrapper">
          Preview <b class="caret"></b>
        </a>
      </div>
      <div id="preview-wrapper" class="accordion-body collapse in">
        <div class="accordion-inner" id="preview">
        </div>
      </div>
    </div>
  </div>
  <% @post.body %>
  <%= simple_form_for @post, :html => { :class => 'form-horizontal', :id => 'post-change-form' } do |f| %>
    <%= f.error_notification %>
    <% if @post.errors[:base].length > 0 %>
    <div class="alert alert-error">
      <%= f.error :base %>
    </div>
    <% end %>
    <%= f.input :parent_id, :as => :hidden %>
    <%= f.input :subject  %>
    <%= f.input :author %>
    <%= f.input :body, :hint => "Written in #{link_to 'Markdown', 'http://daringfireball.net/projects/markdown/basics/'}. Only certain HTML tags allowed. <br/ > Enabled extensions: ~~text~~ creates strikethroughs, ^ creates superscripts, bare links are linked automatically.", :rows => 10, :cols => 50 %>
    <%= f.association :tags, :as => :check_boxes %>
    <% if current_user.moderator? %>
    <%= f.input :locked, :label => 'Locked thread?' %>
    <%= f.input :poofed, :label => 'Poofed thread?' %>
    <%= f.input :sort_timestamp %>
    <% end %>
    <a href="#" onclick="preview()" class="btn btn-success">Preview</a>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  <% end %>
</div>
