<% post = post_subject %>
<% cache(post, namespace: 'post_subject', expires_in: 24.hours, race_condition_ttl: 30.seconds) do %>
<%= raw '<span class="label label-success">New</span>' if post.new_reply? %>
<%= raw '<span class="label label-warning">Locked</span>' if post.locked %>
<%= raw '<span class="label label-danger">Poofed</span>' if post.poofed %>
<%= raw '<span class="label label-info">Edited</span>' if post.previous_version %>
<%= raw '<span class="label label-important">Previous Version</span>' if post.next_version %>
<span class="short-post-subject"><%= link_to raw(htmlic_title(post.subject)), post %></span> by
<span class="short-post-author"><%= post.author %></span>
<span class="short-post-time">on <%= post.created_at %></span> 
<% post.tags.each do |tag| %>
<span class="label label-default short-post-tag"><%= tag.name %></span>
<% end %>
<% end %>
