<div class="post">
  <b>Subject:</b> <%= post.subject %> <br />
  <b>Author:</b> <%= post.author %> <br />
  <b>Posted on:</b> <%= post.created_at %><br />
  <b>Locked:</b> <%= post.locked %> <br />
  <b>Poofed:</b> <%= post.poofed %> <br />
  <b>Sort Timestamp:</b> <%= post.sort_timestamp %> <br />
  <br />
  <div class="post-body">
    <%= post.body %>
  </div>
</div>

