<% content_for(:header_title_override) { "The #{SITE_CONFIG[:title]}" } %>
<% content_for(:body_nav_tabs) do %>
  <%= render :partial => 'new_post_button'%>
  <li class="<%= 'active' if (!(cookies[:sort_mode]) || cookies[:sort_mode] == "date") %>">
    <%= link_to 'Sort by date', posts_path(:sort_mode => "date") %> </li>
  <li class="<%= 'active' if cookies[:sort_mode] == "tag" %>">
    <%= link_to 'Sort by tags', posts_path(:sort_mode => "tag") %> </li>
  <li class="<%= 'active' if cookies[:sort_mode] == "subforum" %>">
    <%= link_to 'Subforum view', posts_path(:sort_mode => "subforum") %> </li>  
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Jump to subforum <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% Tag.all.each do |tag| %>
        <li><%= link_to tag.name.pluralize, tagged_path(:tag_id => tag.id) %><li>
      <% end %>
      <li><%= link_to "None of the Above", tagged_path(:tag_id => "nothing") %></li>
    </ul>
    </li>
    <li>
      <%= link_to 'Latest posts', latest_posts_path() %>
    </li>
<% end %>
<%= render 'header' %>

<% if cookies[:sort_mode] == "subforum" %>
  <%= render :partial => 'subforums', :object => @tagged_posts %>
<% else %>
  <% @tagged_posts.each do |tag, posts| %>
    <% unless tag == false %>
      <h3>Posts tagged: <%= tag.name %></h3>
      <% posts.each do |post| %>
        <%# Template Dependency: post/post_subject %>
        <% cache_unless(post.seeing_activity?, post, namespace: 'post_threads') do %>
        <%= render :partial => 'thread', :locals => { :bodies => false, :id => false },
                   :object =>
                   Post.arrange_nodes(post.subtree
                                       .includes([:tags])
                                       .order("ancestry NULLS FIRST, sort_timestamp DESC").load)
        %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if cookies[:sort_mode] == "tag" %>
    <h3>Untagged Posts</h3>
  <% end %>
  <% @tagged_posts[false].each do |post| %>
    <%# Template Dependency: post/post_subject %>
    <% cache_unless(post.seeing_activity?, post, namespace: 'post_threads') do %>
    <%= render :partial => 'thread', :locals => { :bodies => false, :id => false },
      :object =>
      Post.arrange_nodes(post.subtree
                          .includes([:tags])
                          .order("ancestry NULLS FIRST, sort_timestamp DESC").load)
    %>
    <% end %>
  <% end %>
<% end %>
<br />
<div class="row">
  <div class="col-sm-2">
    <%= render :partial => 'new_post_button', :locals => { :style => " "} %>
  </div>
</div>
<% unless cookies[:sort_mode] == "subforum" %>
  <%= will_paginate @posts %>
<% end %>
