<h1>PPC Posting Board</h1>
<p class="lead">
Welcome, fans of the Protectors of the Plot Continuum and supporters of the Canon Protection Initiative!  If you've got a story to plug, an opinion to share, or a discussion you want to join in, this is the place!
</p><p>
Before you start, have some <b>important</b> links. Read them first!<ul>
<li><a href="https://docs.google.com/document/pub?id=18hztHpDehxcfrjaXoFUew1vb0BdZPDAusHxMHzHiCzM">The PPC Constitution</a>. All your posts should conform to the Constitution. <b>Read this first</b>, and read it often.</li>
<li><a href="http://ppc.wikia.com/wiki/PPC_Wiki">Our shiny Wiki</a> will answer many of your questions. <b>Check before asking</b>, as the first thing anyone will do is direct you here.</li>
<li><a href="http://wbe02.mibbit.com/?settings=64a4814b06949473906b9c3d88f0c741&server=irc.sorcery.net&channel=%23PPC">The PPC IRC</a> is the place for idle conversation. If it's just a few people talking, it's best to take it to the IRC.</li>
</ul>
<%= will_paginate @posts %>
<ul class="nav nav-pills">
  <li class="<%= 'active' if !(cookies[:posts_by_tag] == true) %>">
    <%= link_to 'Sort by date', posts_path(:sort_by_tag => 0) %> </li>
  <li class="<%= 'active' if cookies[:posts_by_tag] == true %>">
    <%= link_to 'Sort by tags', posts_path(:sort_by_tag => 1) %> </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      All posts tagged ... (Subforum) <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% Tag.all.each do |tag| %>
        <%= link_to tag.name, tagged_url(:tag_id => tag.id) %>
      <% end %>
    </ul>
  </li>
</ul>
<%= link_to 'New Post', new_post_path, :class => "btn btn-success" %>
<% @tagged_posts.each do |tag, posts| %>
  <% unless tag == false %>
    <h3>Posts tagged: <%= tag %></h3>
  <% end %>
  <% posts.each do |post| %>
    <%= render :partial => 'thread', :locals => { :bodies => false, :id => false },
      :object => post.subtree.arrange(:order => "sort_timestamp DESC" ) %>
  <% end %>
<% end %>
<br />
<%= link_to 'New Post', new_post_path, :class => "btn btn-success" %>
<%= will_paginate @posts %>
