<h1>PPC Posting Board</h1>

<% @posts.each do |post| %>
<div class="post">
<%= link_to post.subject, post %> by <%= post.author %> at <%= post.created_at %> 
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Destroy', post, method: :delete, data: { confirm:
        'Are you sure?' } %>
</div>
<% end %>
<br />
<%= link_to 'New Post', new_post_path %>
