<h1>The PPC Posting Board</h1>
<%= render 'header' %>

<ul class="nav nav-tabs">
  <%= link_to 'New Post', new_post_path, :class => "btn btn-success", 
    :style => "float:left; margin-right: 20px" %>
  <li class="<%= 'active' if (!(cookies[:sort_mode]) || cookies[:sort_mode] == "date") %>">
    <%= link_to 'Sort by date', posts_path(:sort_mode => "date") %> </li>
  <li class="<%= 'active' if cookies[:sort_mode] == "tag" %>">
    <%= link_to 'Sort by tags', posts_path(:sort_mode => "tag") %> </li>
  <li class="<%= 'active' if cookies[:sort_mode] == "subforum" %>">
    <%= link_to 'Subforum view', posts_path(:sort_mode => "subforum") %> </li>  
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Jump to subforum <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% Tag.all.each do |tag| %>
        <li><%= link_to tag.name.pluralize, tagged_path(:tag_id => tag.id) %><li>
      <% end %>
      <li><%= link_to "None of the Above", tagged_path(:tag_id => "nothing") %></li>
    </ul>
  </li>
</ul>

<% if cookies[:sort_mode] == "subforum" %>
  <%= render :partial => 'subforums', :object => @tagged_posts %>
<% else %>
  <% @tagged_posts.each do |tag, posts| %>
    <% unless tag == false %>
      <h3>Posts tagged: <%= tag.name %></h3>
      <% posts.each do |post| %>
        <%= render :partial => 'thread', :locals => { :bodies => false, :id => false },
          :object => post.subtree.arrange(:order => "sort_timestamp DESC" ) %>
      <% end %>
    <% end %>
  <% end %>
  <% if cookies[:sort_mode] == "tag" %>
    <h3>Untagged Posts</h3>
  <% end %>
  <% @tagged_posts[false].each do |post| %>
    <%= render :partial => 'thread', :locals => { :bodies => false, :id => false },
      :object => post.subtree.arrange(:order => "sort_timestamp DESC" ) %>
  <% end %>
<% end %>
<br />
<%= link_to 'New Post', new_post_path, :class => "btn btn-success" %>
<% unless cookies[:sort_mode] == "subforum" %>
  <%= will_paginate @posts %>
<% end %>
