<% title "Latest posts" %>
<% content_for(:header_title_override) {
   "The #{SITE_CONFIG[:title]} - Latest posts" }
%>
<% content_for(:body_nav_tabs) do %>
  <%= render :partial => 'new_post_button'%>
  <li>
    <%= link_to 'Threads', posts_path() %> </li>
  <li class="active">
    <%= link_to 'Latest posts', latest_posts_path() %></li>
  </li>
<% end %>
<%= render 'header' %>

<div class="row">
  <div class="col-sm-12">
    <p>This list is also available as a <a href="<%= url_for(action: 'latest', controller: 'posts') %>.atom">Atom/RSS feed</a></p>
  </div>
</div>
<% @posts.each do |post| %>
<% post.body %>
<%= render :partial => 'thread', :locals => { :bodies => true, :id => nil },
   :object => {post => []}
%>
<% end %>

<br />
<div class="row">
  <div class="col-sm-2">
    <%= render :partial => 'new_post_button', :locals => { :style => " "} %>
  </div>
</div>
<%= will_paginate @posts %>
