<% title(@post.subject) %>
<%= render @post %>
<div class="btn-group">
  <% unless @post.next_version %>
    <%= link_to 'Reply', new_post_path(:parent_id => @post), :class => 'btn' %> 
    <% if allowed_to_edit? @post, current_user %>
      <%= link_to 'Edit', edit_post_path(@post), :class => 'btn' %> 
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.watched_posts.exists?(@post.id) %>
        <%= link_to 'Unwatch this thread', "/posts/#{@post.id}/watch", :method => :delete, :class => 'btn' %>
      <% else %>
        <%= link_to 'Watch this thread', "/posts/#{@post.id}/watch", :method => :post, :class => 'btn' %>
      <% end %>
    <% end %>
    <% if cookies[:last_subforum] %>
      <%= link_to 'Return to messages', "/posts/tagged/#{cookies[:last_subforum]}", :class => 'btn' %>
    <% else %>
      <%= link_to 'Return to messages', posts_path, :class => 'btn' %>
    <% end %>
  <% end %>
</div>
<div class="rest-of-thread"> <br />
<%= render :partial => 'thread', :locals => { :bodies => true, :id => @post.id },
   :object => Post.arrange_nodes(@post.root.subtree.all(
      :include => [:tags, :user],
      :order => "(case when ancestry is null then 0 else 1 end), ancestry, sort_timestamp DESC" )) %>
</div> 
