<% title(@post.subject) %>
<%= render @post %>
<div class="btn-group">
  <% unless @post.next_version %>
    <%= link_to 'Reply', new_post_path(:parent_id => @post), :class => 'btn btn-default' %>
    <% if allowed_to_edit? @post, current_user %>
      <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-default' %>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.watched_posts.exists?(@post.id) %>
        <%= link_to 'Unwatch this thread', "/posts/#{@post.id}/watch", :method => :delete, :class => 'btn btn-default' %>
      <% else %>
        <%= link_to 'Watch this thread', "/posts/#{@post.id}/watch", :method => :post, :class => 'btn btn-default' %>
      <% end %>
    <% end %>
    <% if cookies[:last_subforum] %>
      <%= link_to 'Return to messages', "/posts/tagged/#{cookies[:last_subforum]}", :class => 'btn btn-default' %>
    <% else %>
      <%= link_to 'Return to messages', posts_path, :class => 'btn btn-default' %>
    <% end %>
  <% end %>
</div>

<% if @post.ancestry != nil %>
  <div id="thread-position-restoration-link">
    <a href="#post-<%= @post.id %>">Jump to this post's position in the thread ↴</a>
  </div>
<% end %>

<div class="rest-of-thread"> <br />
<%= render :partial => 'thread', :locals => { :bodies => true, :id => @post.id },
   :object => Post.arrange_nodes(@post.root.subtree.select(:body)
                                  .includes([:tags])
                                  .order("ancestry NULLS FIRST, sort_timestamp DESC").load)
%>
</div>
