<% title(@post.subject) %>
<%= render @post %>
<div class="btn-group">
  <% unless @post.next_version %>
    <%= link_to 'Reply', new_post_path(:parent_id => @post), :class => 'btn btn-default', :role => "button" %>
    <% if allowed_to_edit? @post, current_user %>
      <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-default', :role => "button" %>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.watched_posts.exists?(@post.id) %>
        <%= link_to 'Stop reply notifications', "/posts/#{@post.id}/watch", :method => :delete, :class => "btn btn-default", :role => "button" %>
      <% else %>
        <%= link_to 'Get emails on replies', "/posts/#{@post.id}/watch", :method => :post, :class => 'btn btn-default', :role => "button" %>
      <% end %>
    <% end %>
    <% if cookies[:last_subforum] %>
      <%= link_to 'Return to messages', "/posts/tagged/#{cookies[:last_subforum]}#post-#{@post.root.id}", :class => 'btn btn-default', :role => "button" %>
    <% else %>
      <%= link_to 'Return to messages', posts_path(anchor: "post-#{@post.root.id}"), :class => 'btn btn-default', :role => "button" %>
    <% end %>
  <% end %>
  <% if user_signed_in? && current_user.moderator? %>
    <%= link_to "(CAREFUL) Delete post", post_path(@post), method: :delete,
        data: { confirm: "Are you sure you want to delete this post and all its previous versions?" },
        class: 'btn btn-danger', role: 'button' %>
  <% end %>
</div>

<% if @post.ancestry != nil %>
  <div id="thread-position-restoration-link">
    <a href="#post-<%= @post.id %>" data-turbolinks="false">Jump to this post's position in the thread ↴</a>
  </div>
<% end %>

<div class="rest-of-thread"> <br />
<%= render :partial => 'thread', :locals => { :bodies => true, :id => @post.id },
   :object => Post.arrange_nodes(@post.root.subtree.select(:body)
                                  .includes([:tags])
                                  .order("ancestry NULLS FIRST, sort_timestamp DESC").load)
%>
</div>
